
<%= render "list", book: @book, user: @user %>

<h1>Books</h1>
 <table>
 <thead>
 <tr>
 <th>Title</th>
 <th>Opinion</th>
 </tr>
 </thead>
<% @books.each do |book| %>
     <tbody>
     <tr>
     <td><%= book.title %></td>
     <td><%= book.body %></td>
     </tr>
     </tbody>
    <% end %>
 </table>
